include ../mixins.pug

+header
+style

<body>
    <table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
                    <!-- Email Body -->
                    <tr>
                        <td class="email-body" width="100%">
                            <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
                                <!-- Body content -->
                                <tr>
                                    <td class="content-cell">
                                        <p>
                                            |Dear IXT Protect member,
                                        </p>
                                        <p>
                                            |!{redemptionDescription}.
                                        </p>
                                        <p>
                                            |You can see your redeemed product in your account page: <a href='https://protect.ixt.global/account'>https://protect.ixt.global/account</a>
                                        </p>
                                        <p>Thanks,<br>The IXT Team</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="content-cell">
                                        <p class="sub center">
                                        |IXT Ltd.
                                        <br>6.20 World Trade Center
                                        <br>6 Bayside Road, Gibraltar, GX11 1AA
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>