.ui.menu.footer {
  flex-shrink: 0;
  border-radius: 0;
  margin: 0;
  background-color: #2B899A;
  height: 88px;
  border: 0px;
  margin-top: 30px;
}

.ui.menu.footer .item {
  color: #ffffff;
  font-size: 16px;
}

.logo {
  width: 120px;
}