mixin header
    doctype html
    html
        head
            meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
            meta(name='viewport' content='width=device-width')
            meta(name='format-detection' content='telephone=no')

mixin style
    style(type='text/css').
        #outlook a {
            padding: 0;
        }

        body {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
            font-weight: 400;
            margin: 0;
            padding: 0;
        }

        img {
            border: 0;
            max-width: 100%;
            height: auto;
            outline: none;
            display: inline-block;
            margin: 0;
            padding: 0;
            text-decoration: none;
            line-height: 100%;
        }

        .main {
            font-family: Helvetica, Arial, sans-serif;
            letter-spacing: 0;
        }

        table {
            border-spacing: 0;
            border-collapse: separate;
            table-layout: fixed;
        }

        td {
            font-size: 16px;
            padding: 0;
            font-family: Helvetica, Arial, sans-serif;
        }

        a {
            border: none;
            outline: none !important;
        }

        .header td img {
            padding: 0 0 37px;
        }

        .header .logo {
            text-align: center;
        }

        .content .content-td {
            line-height: 150%;
            color: #818181;
            padding: 0 0 60px;
        }

        .content .content-td > :first-child {
            margin-top: 0;
        }

        .content .content-td > :last-child {
            margin-bottom: 0;
        }

        .content h1 {
            font-size: 36px;
            font-weight: 300;
            line-height: 1.2;
            margin: 30px 0 5px;
            color: #2392ec !important;
        }

        .content h1 a {
            color: #2392ec !important;
        }

        .content-td h1 + h2 {
            margin-top: 0px !important;
        }

        .content-td h2 + h1 {
            margin-top: 0px !important;
        }

        .content h2 {
            font-size: 21px;
            font-weight: bold;
            color: #303030;
            line-height: 1.25;
            margin: 30px 0 5px;
        }

        .content h2 a {
            color: #303030;
        }

        .content p {
            font-size: 16px;
            margin: 0 0 13px 0;
        }

        .content a {
            color: #178acc;
            text-decoration: underline;
        }

        .content strong,
        .content b {
            color: #606060;
        }

        .content ol,
        .content ul {
            margin: 20px 0 30px 0;
            padding: 0;
        }

        .content ol li,
        .content ul li {
            margin: 5px 0;
        }

        .footer {
            background: #f8f8f8;
            max-width: 800px;
        }

        .footer .footer-td {
            text-align: center;
            width: 100%;
            padding: 26px 30px 22px;
        }

        .footer h2,
        .footer p,
        .footer a {
            text-decoration: none;
            font-size: 13px;
            color: #a8a8a8;
        }

        .footer h2 {
            font-weight: bold;
        }

        .footer p {
            margin: 0 0 10px 0;
            line-height: 1.5;
            font-weight: 300;
        }

mixin email-footer

mixin email-content

mixin text(content)

mixin text-standard(content)

mixin link(name, url)

mixin link-padding(name, url)

mixin email-header

mixin email-content-wrap

mixin email-content-focus-wrap

mixin focus-button(content)

mixin focus-link(name, link)
